.img-comic {
    max-width: 200px;
    
}

.container-catalog {
    margin-top: 40px;
}

.nav-stacked>li+li {
    margin-top: 20px;
}
.comic-title {
    font-weight: bold;
    font-size: 14px;
}
.comic-author {
    color: grey;
    font-size: 13px;
}

.comic-price {
    margin-bottom: 30px;
}

.comic-container {
    display: flex;
    flex-wrap: wrap;
}

.comic-container, .nav-stacked {
    margin-bottom: 130px;
}